<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="petratracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="petratracker.Properties.Settings.Petra_trackerConnectionString" connectionString="Data Source=ELMINA\SQLEXPRESS;Initial Catalog=Petra_tracker;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="petratracker.Properties.Settings.Petra5ConnectionString" connectionString="Data Source=ELMINA\SQLEXPRESS;Initial Catalog=Petra5;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <petratracker.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="database_tracker" serializeAs="String">
        <value />
      </setting>
      <setting name="database_microgen" serializeAs="String">
        <value />
      </setting>
    </petratracker.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>